<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/user/course_detail.css"  type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.7/components/rating.min.css" >
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.7/components/button.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/icon.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.2.7/components/grid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.7/components/card.min.css" >
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.7/components/list.min.css" >
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.7/components/item.min.css" >
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.7/components/rating.min.css" >
    <title>快乐学堂</title>
</head>

<body>
    <div id="wrap">
    <div id="mainbody">
        <div id="successHolder" v-if="loading">
            <img src="/img/loading.gif" />
            <div>正在加载……</div>
        </div>
        <div class="block">空行</div>
        <div v-else>
        <div id="course-meta" class="ui card">
            <div class="content ">
                <div class="header">{{name}}</div>
                <div class="description">
                    <p v-if="teacher != ''">任课老师：{{teacher}}</p>
                    <p v-if="email != ''">联系邮箱：{{email}}</p>
                </div>
            </div>
            <div class="extra content">
            <div id="average-comments" >
                <div v-for="m in 3">
                    {{rating_texts[m-1]}}
                    <span class="ui heart rating" data-rating="5">
                        <i class="icon active" v-for="n in ratings[m-1]"></i>
                        <i class="icon " v-for="n in 5 - ratings[m-1]"></i>
                    </span>
                </div>
            </div>
            </div>
            <div id="new-pannel" class="ui extra content grid" v-if="view_status > 0">
                <div id="nav-bar" class= "ui three column row">
                    <div id="nav-notice" v-on:click = "setNotice()" class="five wide column">
                    公告
                    </div>
                    <div id="nav-homework" v-on:click = "setHomework()"class="five wide column">
                    作业
                    </div>
                    <div id="nav-comment" v-on:click = "setComment()"class="five wide column">
                    评论
                    </div>
                </div>
                <div id="content-pannel" class= "row" >
                    <div id="notice" class="sixteen wide column" v-if="status==1">
                        <div class="ui relaxed divided list" v-if="notice_length > 0">
                            <div class="item" v-for="notice in notices">
                                <div class="content row">
                                    <div class="header">{{notice.title}}
                                        <div class="right floated meta">{{getTime(notice.publishtime)}}</div>
                                    </div>
                                    <div>{{notice.content}}</div>
                                </div>
                            </div>
                        
                        </div>
                        <div v-else>
                            该课程下没有公告~
                        </div>
                    </div>
                    <div id="homework" class="sixteen wide column" v-if="status==2">
                        <div class="ui relaxed divided list" v-if="homework_length > 0">
                           <div class="item" v-for="n in homeworks.length">
                                <div class="content row">
                                    <div class="header">{{homeworks[n-1].title}}</div>
                                    <div>
                                        还剩<span>{{remain[n-1][0]}}</span>天<span>{{remain[n-1][0]}}</span>小时<span>{{remain[n-1][0]}}</span>分钟
                                    </div>
                                    <div>{{homeworks[n-1].detail}}</div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            该课程下没有未提交作业~
                        </div>
                    </div>
                    <div id="comment" class="sixteen wide column" v-if="status==3">
                        <div class="ui comments" v-if="comment_length > 0">
                            <div class="comment" v-for="(comment, index) in comments">
                                <div class="content">
                                    <a class="author">comment.student</a>
                                    <div class="metadata">
                                    <div class="date">
                                        <span v-if="comment_last[index-1][0] >0">comment_last[index-1][0]天前</span>
                                        <span v-if="comment_last[index-1][0] ==0 && comment_last[index-1][1]>0">
                                            comment_last[index-1][1]小时前
                                        </span>
                                        <span v-if="comment_last[index-1][0] ==0 && comment_last[index-1][1]==0">
                                            comment_last[index-1][2]分钟前
                                        </span>
                                    </div>
                                    </div>
                                    <div class="text">
                                        comment.comment
                                    </div>
                                </div>
                                <div class = "extra content">
                                    <div v-for="m in 3">
                                    {{rating_texts[m-1]}}
                                    <span class="ui heart rating" data-rating="5">
                                    <i class="icon active" v-for="n in comment.ratings[m-1]"></i>
                                    <i class="icon " v-for="n in 5 - comment.ratings[m-1]"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            该课程目前没有评价~
                        </div>
                        <div id="add-comment">
                        <form @submit.prevent="submit" class="ui reply form">
                        <div class="field">
                        <label>
                            <textarea v-model="my_comment.content"></textarea>
                        </label>
                        </div>
                        <div id="my-ratings" class = "">
                            <div v-for="m in 3">
                            {{rating_texts[m-1]}}
                            <div :id='"my-rating"+m' class="ui heart rating" data-rating="3" data-max-rating="5">
                            </div>
                            </div>
                        </div>
                        <div type="submit" class="ui primary submit button">评价课程</div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <footer id="footer">
        <hr/>
        <a href="" target="_blank">快乐学堂</a>
        &copy; 2016
    </footer>
    <script src="/3rd/jquery.js"></script>
    <script src="/3rd/swig.js"></script>
    <script src="/3rd/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.7/components/rating.min.js"></script>
    <script src="/js/weixin_lib.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/student/course_detail.js"></script>
    <script>

    </script>
    <script>
    </script>
</body>
</html>
