#course-meta {
  width: 100%;
  margin-top: 10px !import;
}
#course-meta .header {
  color: #54C8FF;
}
#course-meta p {
  color: #8e8d92;
}
.block {
  display: none;
  height: 10px;
}
.button {
  font-size: 12px;
}
#comment-list {
  margin-bottom: 5px;
}
#nav-bar {
  text-align: center;
}
.floated span {
  color: red;
}
#nav-overall,
#nav-notice,
#nav-homework {
  text-color: black;
}
#footer {
  position: absolute;
  margin-top: -40px;
}
.content span {
  color: red;
}
form {
  margin-top: 10px;
}
form .button {
  background-color: #54C8FF !important;
}
form .button:hover {
  background-color: #2185D0 !important;
}
form .button:focus {
  background-color: #1678c2 !important;
}
form .button:active {
  background-color: #0d71bb !important;
}
