<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/dropdown.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/icon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/item.min.css">
    <title>快乐学堂</title>
</head>

<body>
    <div id="wrap">
    <div id="mainbody">
        <div id="successHolder" v-if="loading">
            <img src="/img/loading.gif" />
            <div>正在加载……</div>
        </div>
        <div id="curriculumn" class="ui grid" v-if="loaded">
                <div id="week-banner" class="three column row">
                    <div class = "column"></div>
                    <div class = "column">
                        <div id="show-week" class ="ui inline dropdown">
                            <input id="selected-week" type="hidden" value="13" >
                            <div id="show-week-text" class="text">第13周</div>
                            <i class="dropdown icon"></i>
                            <ul id="week-menu" class="menu">
                                <li class="item" v-for="n in 7">
                                第{{ n }}周
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class = "column"></div>
                </div>
                <hr>
                <div id="day-banner" class="eight column row">
                    <ul id="day-list">
                        <li v-for="day in week">
                            <span class="day">{{day.text}}</span>
                            <span class="date">{{day.date}}</span>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    </div>

    <footer id="footer">
        <hr/>
        <a href="" target="_blank">快乐学堂</a>
        &copy; 2016
    </footer>
    <script src="/3rd/jquery.js"></script>
    <script src="/3rd/swig.js"></script>
    <script src="/3rd/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/dropdown.min.js"></script>
    <script src="/js/weixin_lib.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/student/course_list.js"></script>
    <script>
    
    </script>
    <script>
    </script>
</body>
</html>
