<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/css/user/course_list.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/dropdown.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/icon.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.7/components/grid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/item.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/semantic-ui/2.2.7/components/table.min.css">
    <title>快乐学堂</title>
</head>

<body>
        <h4 class="ui block header">
            <i class="write icon"></i>
            <div class="content">课程表<div class="sub header">Be a good student!</div></div>
        </h4>
    <div id="wrap">
    <div id="mainbody">

        <div id="successHolder" v-if="loading">
            <img src="/img/loading.gif" />
            <div>正在加载……</div>
        </div>
        <div id="curriculumn" class="ui grid" v-else>
                <div id="week-banner" class="three column row">
                    <div class = "column"></div>
                    <div class = "column">
                        <select class="ui orange dropdown">
                            <option value="1">第1周</option>
                            <option value="2">第2周</option>
                            <option value="3">第3周</option>
                            <option value="4">第4周</option>
                            <option value="5">第5周</option>
                            <option value="6">第6周</option>
                            <option value="7">第7周</option>
                            <option value="8">第8周</option>
                            <option value="9">第9周</option>
                            <option value="10">第10周</option>
                            <option value="11">第11周</option>
                            <option value="12">第12周</option>
                            <option value="13">第13周</option>
                            <option value="14">第14周</option>
                            <option value="15">第15周</option>
                            <option value="16">第16周</option>
                            <option value="17">第17周</option>
                            <option value="18">第18周</option>
                        </select>
                    </div>
                    <div class = "column"></div>
                </div>
                <hr>
                <div id="day-list" class="ui eight column row">
                    <div class="two wide column"></div>
                    <div v-for="day in week" :id='"day"+ day.id'class="two wide column" v-on:click="setCurrentDay(day.id)">
                        <span class="day">{{day.text}}</span>
                    </div>
                </div>
                <div id="course-list" class="ui grid">
                    <div  v-for="m in 6" class="two column row">
                        <div :id='"time"+m' class="four wide column">
                            <span class="ord">第{{m}}节</span>
                            <span class="time">{{times[m]}}</span>
                        </div>
                        <div  v-for="n in 7"  :id= '"course"+ courses[n-1][m-1][1]'  class="twelve wide column" v-if="n == current_day" v-on:click="jump(courses[n-1][m-1][1])">
                            <div class="course-sticky">{{ courses[n-1][m-1][0] }}</div>
                        </div>
                    </div>
                </div>



                </div>
            </div>
    </div>
    </div>

    <footer id="footer">
        <hr/>
        <a href="" target="_blank">快乐学堂</a>
        &copy; 2016
    </footer>
    <script src="/3rd/jquery.js"></script>
    <script src="/3rd/swig.js"></script>
    <script src="/3rd/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/dropdown.min.js"></script>
    <script src="/js/weixin_lib.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/student/course_list.js"></script>
</body>
</html>
