{% if user.user_id and user.user_status >= 0 %}
    {% if user.user_status == 0%}
        向公众号发送 “课聊+空格+课程代号”，切换到向指定课程发送弹幕的模式。
        希望结束课聊时请发送“结束课聊”给公众号。
        例如：课聊 0001
        课程对应代号如下：
        软件工程(3) 0001
        计算机网络原理(1) 0002
        计算机网络原理(2) 0003

    {% else %}
        在课聊插件中输入课程号，即可查看相应课程的课程弹幕：
        课程对应代号如下：
        软件工程(3) 0001
        计算机网络原理(1) 0002
        计算机网络原理(2) 0003
    {% endif %}账户——
{% else %}查看课聊等功能必须绑定网络学堂账户后才能使用。

<a href="{{ handler.url_bind }}">点此绑定网络学堂账号</a>{% endif %}