<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block link %}
    {% endblock %}
    <title>{% block title %}快乐学堂{% endblock %}</title>
</head>

<body>
    <footer id="footer">
        <hr/>
        <a href="" target="_blank">快乐学堂</a>
        &copy; 2016
    </footer>

    <script type="text/template" id="tpl-header">
    {% block tpl-header %}
    {% endblock %}
    </script>

    <script type="text/template" id="tpl-theme">
    {% block tpl-theme %}
    {% endblock %}
    </script>

    <script type="text/template" id="tpl-mainbody">
    {% block tpl-mainbody %}
    {% endblock %}
    </script>

    <script src="/3rd/jquery.js"></script>
    <script src="/3rd/swig.js"></script>
    <script src="/js/weixin_lib.js"></script>
    <script src="/js/base.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>